
@{
    ViewBag.Title = "Contact";
}

@section styles {
    @Styles.Render("~/Content/home/bundle")
}

<div style="height: 650px;" class="centered">

    <h2>Contact</h2>

    <div>
        <ul class="contact-ul">
            <li><a href="mailto:frisson@frisson.namespacemedia.com"><i class="ion-email"></i></a><a class="text-link" href="mailto:frisson@frisson.namespacemedia.com">frisson@frisson.namespacemedia.com</a></li>
            <li><a href="https://www.facebook.com/frissonaudio"><i class="ion-social-facebook"></i></a><a class="text-link">https://www.facebook.com/frissonaudio</a></li>
            <li><a href="https://twitter.com/FrissonAudio"><i class="ion-social-twitter"></i></a><a class="text-link" href="https://twitter.com/FrissonAudio">https://twitter.com/FrissonAudio</a></li>
            @*<li><a href="#"><i class="ion-social-dribbble-outline"></i></a></li>*@
            @*<li><a href="#"><i class="ion-social-github"></i></a></li>*@
            <li><a href="https://plus.google.com/117557104047859971446"><i class="ion-social-googleplus-outline"></i></a><a class="text-link" href="https://plus.google.com/117557104047859971446">https://plus.google.com/117557104047859971446</a></li>
            @*<li><a href="#"><i class="ion-social-vimeo"></i></a></li>*@
        </ul>
    </div>

</div>

