<style>
    .yes {
        background-color: #2B35F2;
        color: white;
        width: 250px;
        height: 50px;
        border-width: 1px;
        -webkit-border-radius: 2px 2px 2px 2px;
        border-radius: 2px 2px 2px 2px;
    }

    .no {
        background-color: #464646;
        color: black;
        width: 250px;
        height: 25px;
        border-width: 1px;
        /*border-color: #7F7F7F;*/
        -webkit-border-radius: 2px 2px 2px 2px;
        border-radius: 2px 2px 2px 2px;
    }
</style>


<div style="margin-top: 30px;" class="centered">
    @*<input class="yes" type="button" value="Yes, I Care About This Feature!"/>
    <br/>
    <input class="no" type="button" value="No, this feature hurts my feelings..." />*@
</div>
